#intro 	p {
    margin: 0 0 .8em 0;
}

#one {
    color: #e3d6cc;
}

/* #two {
    color: #666;
} */


/* Intro Legibility */
.text-pop	{
	/* backdrop-filter: blur(5px); */
	background-color: rgba(12, 13, 14, 0.567);
}


/* Headshot */
#sidebar .inner img.headshot {
    display: block;
    max-width: 185px;
    margin: 9px 50px;
    border-radius: 50%;
}
