/* Custom color scheme, based on Rho Infinity Edit:
Deep Space Blue: #011330
Blue Starlight: #0F6098
Heavenly Light: #E4D3C9
Fiery Core: #74567C
Space Dust: #28394B
*/

#intro 	p {
    margin: 0 0 .8em 0;
}

#one {
    color: #e3d6cc;
}

/* #two {
    color: #666;
} */


/* Intro Legibility */
.text-pop	{
	/* backdrop-filter: blur(5px); */
	background-color: rgba(12, 13, 14, 0.567);
}


/* Headshot */
#sidebar .inner img.headshot {
    display: block;
    max-width: 185px;
	@media screen and (max-width: 1280px) {
    	margin: 9px 50px;
	}
    border-radius: 50%;
}

/* Helps center the headshot better */
#sidebar	{
	@media screen and (min-width: 1280px) {
		padding: 2.5em 2.5em 1.5em 3.5em
	}
}


/* p5 Project Page */
#p5iframe {
	margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 59vh; /* Sets the iframe's height to 59% of the viewport's height. Seems to look best. */
    border: none; /* This removes the default border around iframes. */
}

#p5floweriframe {
	margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 53vh; /* Sets the iframe's height to 59% of the viewport's height. Seems to look best. */
    border: none; /* This removes the default border around iframes. */
}

#p5balliframe {
	margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 65vh; /* Sets the iframe's height to 59% of the viewport's height. Seems to look best. */
    border: none; /* This removes the default border around iframes. */
}