/* Custom color scheme, based on Rho Infinity Edit:
Deep Space Blue: #011330
(light) Blue Starlight: #0F6098
Heavenly Cloud (tan): #E4D3C9
Fiery Core (red-magenta): #74567C
Space Dust (gray): #28394B
*/

#intro 	p {
    margin: 0 0 .8em 0;
}

#one {
    color: #ffffffad;
}

/* #two {
    color: #666;
} */


/* Intro Legibility */
.text-pop	{
	/* backdrop-filter: blur(5px); */
	background-color: rgba(12, 13, 14, 0.567);
}


/* Headshot */
#sidebar .inner img.headshot {
    display: block;
    max-width: 185px;
	@media screen and (max-width: 1280px) {
    	margin: 9px 50px;
	}
    border-radius: 50%;
}

/* Helps center the headshot better */
#sidebar	{
	@media screen and (min-width: 1280px) {
		padding: 2.5em 2.5em 1.5em 3.5em
	}
}

/* Styling for the social icons at the bottom */
.social-icons {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding-left: 0;
}
.social-icons li {
	text-align: center;
	margin:0.8em;
	padding-left: 0;
}

/* Icon size */
.social-icons .icon {
	font-size: 2em;
	transition: color 0.3s;
}
/* Text size */
.social-icons .icon .icon-text	{
	font-size: 0.45em;
}

.social-icons .icon:hover {
	color: #777;
}
.social-icons span {
	display: block;
}
/* Individual icon colorings */
.github-icon {
    color: #444;
}
.youtube-icon {
    color: #FF0000;
}
.linkedin-icon {
    color: #0077B5;
}
.github-icon:hover {
    color: #555;
}
.youtube-icon:hover {
    color: #DD0000;
}
.linkedin-icon:hover {
    color: #005B8E;
}




/* p5 Project Page */
#p5iframe {
	margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 730px;
    border: none;
}

#p5floweriframe {
	margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 690px;
    border: none;
}

#p5balliframe {
	margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 825px;
    border: none;
}